// imports
@import './reset.css'; // vars
$background: #2D3540;
$heading: #98B3D9;
$primary: #707C8C;
$link: #0000EE; // utility classes

.loading-text {
  animation: blinkingText 1.2s infinite;
  font-size: 1.5rem;
  color: #DC143C;
  padding-top: 40%;
}
@keyframes blinkingText {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}

.red-text {
  color: #DC143C;
}

.white-text {
  color: white;
}

.green-text {
  color: lighten(#006600,15%);
}

.orange-text {
  color: #ff9000;
}

.yellow-text {
  color: #ffd700;
}

.error-text {
  font-size: 1.5rem;
  color: red;
  padding-top: 40%;
}
// overall

html {
  background: $background;
  font-family: Roboto;
}
// main styling

.header__container {
  height: 50vh;
}

.img__container {
  text-align: center;
  width: auto;

  img {
    width: auto;
    max-width: 200px;
    height: auto;
  }
}

.title__box {
  text-align: center;
  margin: 1rem 0;
  font-size: 2rem;


  h1 {
    color: $heading;
    text-align: center;
  }
}

.data__container {
  background: lighten($background,5%);
  width: 100%;
  max-width: 450px;
  height: 50vh;
  margin: auto;
  list-style: none;
  text-align: center;

  ul {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,1fr);
    place-items: center;

    li {
      // border:1px solid white;
      font-size: 1.15rem;
    }
  }
}
.state__container{
  background: lighten($background,5%);
  width: 100%;
  max-width: 450px;
  height: 20vh;
  margin: auto;
  text-align: center;
}

.do__container,
.dont__container,
.symptoms__container {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  text-align: center;
  color: $primary;
  margin: auto;
  width: 100%;
  max-width: 450px;
  height: 100%;
  max-height: 350px;

  h2 {
    padding: 1.5rem 0.5rem 0;
    color: white;
    // font-size: 1.75rem;
    text-decoration: underline;
  }

  .container__items {
    color: black;
    padding: 1.5rem 0.5rem;
    // font-size: 1rem;
    li {
      padding: 0.25rem;
    }
  }

  p {
    padding: 0.5rem 0;
    // font-size: 0.75rem;
    color: black;

    a {
      text-decoration: none;
      color: $link;
    }
  }
}

.do__container {
  background: rgba(34,139,34, 0.4);
  z-index: 3;
  position: relative;
}

.dont__container {
  background: rgba(255,0,0, 0.4);
  z-index: 2;
  position: relative;
}

.symptoms__container {
  background: rgba(255,230,0, 0.4);
  z-index: 0;
}

footer {
  text-align: center;
  background: rgba(46,46,46, 1);
  background: rgba(46,46,46, 1);
  width: 100%;
  max-width: 450px;
  margin: auto;
  padding: 1rem 0;

  p {
    color: rgba(203, 203, 203, 1);

    a {
      text-decoration: none;
      // color: $link;
      color: lighten(rgba(50, 2, 2, 1),25%);
    }
  }
}
