// imports
@import "reset.css";
// vars
$background: #2d3540;
$heading: #98b3d9;
$primary: #707c8c;
$link: #0000ee;
@mixin horizontal-list {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2d3540+0,707c8c+50,2d3540+100 */
  background: #2d3540; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #2d3540 0%, #707c8c 50%, #2d3540 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #2d3540 0%,#707c8c 50%,#2d3540 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #2d3540 0%,#707c8c 50%,#2d3540 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d3540', endColorstr='#2d3540',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}
.title{
  font-size: 2rem;
  color: $primary
}


hr{
@include horizontal-list
  border: none;
  height: .1rem;
  // background: green;
}
// utility classes
.red-text {
  color: #dc143c;
}

.white-text {
  color: white;
}

.green-text {
  color: lighten(#006600, 15%);
}

.orange-text {
  color: #ff9000;
}

.yellow-text {
  color: #ffd700;
}

.error-text {
  font-size: 1.5rem;
  color: red;
  padding-top: 40%;
}

.loading-text {
  animation: blinkingText 1.2s infinite;
  font-size: 1.5rem;
  color: #dc143c;
  padding-top: 40%;
}
@keyframes blinkingText {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}

// overall

html {
  background: $background;
font-family: 'Montserrat', sans-serif;
}
body {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
// main styling

.header__container {
  text-align: center;
  img {
    width: auto;
    max-width: 200px;
    height: auto;
  }
}

.title__box {
  h1 {
    color: $heading;
  }
}
.main__container {
  margin-top: 1rem;
  margin: auto;
width: 500px;
  max-width: 90%;
  text-align: center;
  border-radius: 10px;
  padding: 1rem 0;
  background: #2d3540;
  border-radius: 10px;
  background: #2d3540;
  box-shadow: 4px -4px 7px #262d36, -4px 4px 7px #343d4a;
}

.united__container {
  background: $background;
  width: 100%;
  max-width: 450px;
  height: 60vh;
  margin: auto;
  list-style: none;
  text-align: center;
  border-radius: 10px;

  ul {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-flow: column;

    li {
      // border:1px solid white;
      font-size: 1.65rem;
    }
  }
}

.state__container {
  width: 100%;
  max-width: 450px;
  margin: auto;
  text-align: center;
  border-radius: 10px;

  .select2-container--default
    .select2-selection--single
    .select2-selection__placeholder,
  .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    color: white;
    font-size: 1.5rem;
  }

  .select2-container--default .select2-search--dropdown .select2-search__field {
    color: black;
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  span.state__box {
    border: none;
    border-radius: 10px;
    background: #2d3540;
    box-shadow: 4px -4px 7px #262d36, -4px 4px 7px #343d4a;
    color: white;
    height: 2rem;

    &:focus {
      outline: none;
    }
  }

  .state__dropdown {
    background: #2d3540;
    border-radius: 10px;
    background: #2d3540;
    box-shadow: 26px -26px 52px #262d36, -26px 26px 52px #343d4a;
    color: lighten($heading, 50%);
    border: none;
  }

  .state__api-list {
    height: 15rem;

    .states__api-data {
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: space-evenly;
    }
  }
}

.do__container,
.dont__container,
.symptoms__container {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  text-align: center;
  color: $primary;
  margin: auto;
  width: 100%;
  max-width: 450px;
  height: 100%;
  max-height: 350px;

  h2 {
    padding: 1.5rem 0.5rem 0;
    color: white;
    font-size: 1.5rem;
    text-decoration: underline;
  }

  .container__items {
    color: lighten(black, 10%);
    padding: 1.5rem 0.5rem;
    font-size: 1rem;
    li {
      padding: 0.25rem;
    }
  }
}

.do__container {
  // background: rgba(34, 139, 34, 0.4);
  z-index: 3;
  position: relative;
}

.dont__container {
  // background: rgba(255, 0, 0, 0.4);
  z-index: 2;
  position: relative;
}

.symptoms__container {
  // background: rgba(255, 230, 0, 0.4);
  z-index: 0;
}

footer {
  text-align: center;
  // background: black;
  width: 100%;
  max-width: 450px;
  margin: auto;
  padding: 1rem 0;

  p {
    color: rgba(203, 203, 203, 1);

    a {
      text-decoration: none;
      color: lighten(navy, 50%);
    }
  }
}

// Media queries

@media (orientation: landscape) {
  .header__container {
    height: auto;
  }
  .title__box h1 {
    text-align: center;
  }
}

// Small devices

@media (max-width: 576px) {
  .title__box h1 {
    text-align: center;
  }
  .header__container {
    height: auto;
  }
  .united__container {
  }
}

@media (min-width: 576px) {
  .title__box h1 {
    text-align: center;
  }
  .header__container {
    height: auto;
  }
}

// Medium devices

@media (min-width: 768px) {
  .title__box h1 {
    text-align: center;
  }
}

// Large devices

@media (min-width: 992px) {
  .title__box h1 {
    text-align: center;
  }
}

// Extra large devices

@media (min-width: 1200px) {
  .title__box h1 {
    text-align: center;
  }
}

.lds-grid {
  display: inline-block;
  position: relative;

  width: 100px;
  height: 100px;
  margin-top: 4rem;
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: lighten($background,10%);
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
