// imports
@import "reset.css";
@import "./vars.scss";
@import "./mixins.scss";

// overall
html,
body {
  background: $background;
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 1.5rem 0;
  display: flex;
  justify-content: center;
}
// main styling
main.main__container {
  height: 100%;
  max-width: 500px;
  width: 90%;
  @include neumorph;
}

.header__container {
  text-align: center;

  width: 100%;

  img {
    width: auto;
    max-width: 200px;
    height: auto;
  }
  h1 {
    color: $heading;
    font-size: $title;
  }
}

.united__container {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
margin: 2rem 0 0;

 li{
   font-size: $data;
   color: $numbers;
 }

  .US_nums {
    width: 50%;
ul{
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  text-align: right;
  margin-right: 1rem;

}
  }

  .US_names {
    width: 50%;
  }
  ul{
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    text-align: left;


  }
}

.state__container {
  width: 100%;
  margin: auto;
  text-align: center;
  list-style: none;

  .select2-container--default
    .select2-selection--single
    .select2-selection__placeholder,
  .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    color: $heading;
    margin-top: 2rem;
    font-size: $data;
  }

  .select2-container--default .select2-search--dropdown .select2-search__field {
    color: black;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: $data;
  }

  span.state__box {
    border: none;
    @include neumorph_alt;
    color: $heading;
    font-size: $data;
    height: 2rem;

    &:focus {
      outline: none;
      font-size: $data;
    }
  }

  .state__dropdown {
    border-radius: 10px;
    background: $background;
    box-shadow: 26px -26px 52px #262d36, -26px 26px 52px #343d4a;
    color: lighten($heading, 50%);
    border: none;
  }

  .state__api-list {
    height: 15rem;
    display: flex;
    justify-content: center;
    margin: 2rem 0 0;

    li{
      font-size: $data;
      color: $numbers
    }


      .State_nums {
        width: 50%;
    ul{
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: space-around;
      text-align: right;
      margin-right: 1rem;

    }
      }

      .State_names {
        width: 50%;
      }
      ul{
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        text-align: left;

      }

    .states__api-data {
      height: 100%;
      width: 75%;
      display: flex;
      flex-flow: column;
      justify-content: space-evenly;
    }
    li {
      // font-size: $data;
      // color: darken($numbers, 10%);
    }
  }
}

.caution__container {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  text-align: center;

  h2 {
    padding: 3rem 0.5rem;
    text-decoration: none;
    color: $caution;
    font-size: $data;
  }
  .attBtn {
    display: inline-block;
    margin: auto;
    width: 50px;
    height: 50px;
    /* Rotate div */
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    @include neumorph_caution;

    .attImg {
      -ms-transform: rotate(-45deg); /* IE 9 */
      -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
      transform: rotate(-45deg);
    }
  }

  ul {
    list-style: initial;
    li {
      padding: 0.5rem 0;
      font-size: 0.75rem;
      color: $caution_alt;
      width: 50%;
      text-align: left;
    }
  }
  .container__items {
    padding-top: 2rem;
    display: flex;

    flex-wrap: wrap;
    margin-left: 5rem ;
  }
}
.symptoms__container {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  text-align: center;
  margin: auto;
  width: 100%;
  height: 100%;
  max-height: 350px;
  padding-bottom: 2rem;

  p {
    padding: 1.5rem 0.5rem 0;
    text-decoration: none;
    color: $caution;
  }

  .container__items {
    color: lighten(black, 10%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 0.5rem;
    justify-content: center;
    align-content: center;
    text-align: center;
    img {
      width: 33%;
      justify-self: center;
      align-self: center;
    }
    li {
      padding: 1.5rem 0.5rem 0;
      color: $caution_alt;
    }
  }
}

footer {
  text-align: center;
  width: 100%;
  margin: auto;
  padding: 2rem 0;

  p {
    font-size: 0.75rem;
    color: $numbers;
    a {
      text-decoration: none;
      color: $heading;
    }
  }
}

// specific

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  margin-top: 2rem;
}

// Media queries

@media (orientation: landscape) {
  .header__container {
    h1 {
      // color:green;
    }
  }
  .header__container h1 {
    text-align: center;
  }

}

// Small devices

@media (max-width: 576px) {
  .header__container {
    height: auto;
  }
  .caution__container .container__items{
    margin-left: 2rem;
  }
}

@media (min-width: 576px) {
  .header__container {
    height: auto;
  }
  .lds-grid{
    position: absolute;
    top: 20%;
    left: 20%;
  }

}

// Medium devices

@media (min-width: 768px) {
  .lds-grid{
    position: absolute;
    top: 20%;
    left: 20%;
  }
}

// Large devices

@media (min-width: 992px) {
}

// Extra large devices

@media (min-width: 1200px) {
}

.lds-grid {
position: absolute;
top: 50%;
left: 46%;
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: lighten($background, 10%);
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

// .select2-search--dropdown,
.select2-container--open .select2-dropdown--below,.select2-container--open .select2-dropdown--above{
  background: lighten($background,10%);
  color: white;
  text-align: center;
  border: none;
}

span.num{

font-style: italic;

}

.error-text{
  color:red;
  font-size: 1.25rem;
margin: auto;
}
