// imports
@import "reset.css";
@import "./mixins.scss";
// vars
$background: #2d3540;
$heading: #98b3d9;
$primary: #243a59;
$text: 1rem;
@mixin horizontal-list {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2d3540+0,707c8c+50,2d3540+100 */
  background: #2d3540; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #2d3540 0%,
    #707c8c 50%,
    #2d3540 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #2d3540 0%,
    #707c8c 50%,
    #2d3540 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #2d3540 0%,
    #707c8c 50%,
    #2d3540 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d3540', endColorstr='#2d3540',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
@mixin neumorph {
  border-radius: 10px;
  background: #2d3540;
  box-shadow: 5px 5px 10px #262d36, -5px -5px 10px #343d4a;
}
@mixin neumorph_alt {
  border-radius: 10px;
  background: #2d3540;
  box-shadow: -5px -5px 10px #262d36 inset, 5px 5px 10px #343d4a inset;
}
@mixin neumorph_caution {
  border-radius: 10px;
  background: #ba6d01;
  box-shadow: 5px -5px 0px #9e5d01, -5px 5px 0px #d67d01;
}

// overall

html {
  background: $background;
  font-family: "Montserrat", sans-serif;
}
body {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
// main styling
main.main__container {
  margin: auto;
  max-width: 500px;
  width: 95%;
  text-align: center;

  @include neumorph;
}

.header__container {
  text-align: center;

  width: 100%;

  img {
    width: auto;
    max-width: 200px;
    height: auto;
  }
  h1 {
    color: green;
  }
}

.united__container {
  width: 100%;
  height: 40vh;
  margin: auto;
  list-style: none;
  text-align: center;

  ul {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-flow: column;

    li {
      // border:1px solid white;
    }
  }
}

.state__container {
  width: 100%;

  margin: auto;
  text-align: center;

  .select2-container--default
    .select2-selection--single
    .select2-selection__placeholder,
  .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    color: white;
    margin-top: 2rem;

  }

  .select2-container--default .select2-search--dropdown .select2-search__field {
    color: black;

    text-align: center;
    margin: 0;
    padding: 0;
  }

  span.state__box {
    border: none;
    @include neumorph_alt;
    color: white;
    height: 2rem;

    &:focus {
      outline: none;
    }
  }

  .state__dropdown {
    border-radius: 10px;
    background: lighten(#2d3540, 10);
    box-shadow: 26px -26px 52px #262d36, -26px 26px 52px #343d4a;
    color: lighten($heading, 50%);
    border: none;
  }

  .state__api-list {
    height: 15rem;

    .states__api-data {
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: space-evenly;
    }
  }
}

.caution__container {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  text-align: center;
  color: $primary;
  margin: auto;
  width: 100%;
  height: 100%;
  max-height: 350px;
  h2 {
    padding: 3rem 0.5rem;
    text-decoration: none;
    color: orange;
  }
  .attBtn {
    // border: 1px solid white;

    margin-left: 100px;
    width: 75px;
    height: 75px;
    /* Rotate div */
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);

    @include neumorph_caution;

    .attImg {
      -ms-transform: rotate(-45deg); /* IE 9 */
      -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
      transform: rotate(-45deg);
      // border: 1px solid green;
    }
  }

  .container__items {
    color: #f8db95;
    padding: 2.5rem 0.5rem;
    li {
      padding: 0.25rem;
    }
  }
}
.symptoms__container {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  text-align: center;
  color: $primary;
  margin: auto;
  width: 100%;
  height: 100%;
  max-height: 350px;

  h2 {
    padding: 1.5rem 0.5rem 0;
    text-decoration: none;
    color: orange;
  }

  .container__items {
    color: lighten(black, 10%);
    border: 1px solid white;
    display: flex;
    flex-flow: row;
    justify-content: center;

    li {
      padding: 1.5rem 0.5rem 0;
      flex-basis: 33%;
      height: 6rem;
      border: 1px solid white;
      // color: #F8DB95;
    }
  }
}

footer {
  text-align: center;
  width: 100%;
  margin: auto;
  padding: 2rem 0;

  p {
    font-size: $text;
    a {
      text-decoration: none;
      color: orange;
    }
  }
}

// specific

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  margin-top: 2rem;
}

// Media queries

@media (orientation: landscape) {
  .header__container {
    height: auto;
  }
  .header__container h1 {
    text-align: center;
  }
}

// Small devices

@media (max-width: 576px) {
  .header__container {
    height: auto;
  }
}

@media (min-width: 576px) {
  .header__container {
    height: auto;
  }
}

// Medium devices

@media (min-width: 768px) {
}

// Large devices

@media (min-width: 992px) {
}

// Extra large devices

@media (min-width: 1200px) {
}

.lds-grid {
  display: inline-block;
  position: relative;

  width: 100px;
  height: 100px;
  margin-top: 4rem;
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: lighten($background, 10%);
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
