// imports
@import 'reset.css';
// vars
$background: #2D3540;
$heading: #98B3D9;
$primary: #707C8C;
$link: #0000EE;

// utility classes

.loading-text {
  animation: blinkingText 1.2s infinite;
  font-size: 1.5rem;
  color: #DC143C;
  padding-top: 40%;
}
@keyframes blinkingText {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}

.red-text {
  color: #DC143C;
}

.white-text {
  color: white;
}

.green-text {
  color: lighten(#006600,15%);
}

.orange-text {
  color: #ff9000;
}

.yellow-text {
  color: #ffd700;
}

.error-text {
  font-size: 1.5rem;
  color: red;
  padding-top: 40%;
}
// overall

html {
  background: $background;
  font-family: Roboto;
}
// main styling

.header__container {
  height: 40vh;
}

.img__container {
  text-align: center;
  width: auto;

  img {
    width: auto;
    max-width: 200px;
    height: auto;
  }
}

.title__box {
  text-align: center;
  margin: 1rem 0;
  font-size: 2rem;

  h1 {
    color: $heading;
    text-align: center;
  }
}

.united__container {
  background: lighten($background,5%);
  width: 100%;
  max-width: 450px;
  height: 60vh;
  margin: auto;
  list-style: none;
  text-align: center;

  ul {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-flow: column;

    li {
      // border:1px solid white;
      font-size: 1.65rem;
    }
  }
}

.state__container {
  background: lighten($background,5%);
  width: 100%;
  max-width: 450px;
  margin: auto;
  text-align: center;

  .select2-container--default .select2-selection--single .select2-selection__placeholder,
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: $heading;
    font-size: 1.5rem;
  }

  .select2-container--default .select2-search--dropdown .select2-search__field {
    color: black;
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  span.state__box {
    border: none;
    background: darken($heading,50%);
    color: white;
    height: 2rem;

    &:focus {
      outline: none;
    }
  }

  .state__dropdown {
    background: darken($heading,50%);
    color: lighten($heading,50%);
    border: none;
  }

  .state__api-list {
    height: 15rem;

    .states__api-data {
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: space-evenly;
    }
  }
}

.do__container,
.dont__container,
.symptoms__container {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  text-align: center;
  color: $primary;
  margin: auto;
  width: 100%;
  max-width: 450px;
  height: 100%;
  max-height: 350px;

  h2 {
    padding: 1.5rem 0.5rem 0;
    color: white;
    font-size: 1.5rem;
    text-decoration: underline;
  }

  .container__items {
    color: lighten(black,10%);
    padding: 1.5rem 0.5rem;
    font-size: 1rem;
    li {
      padding: 0.25rem;
    }
  }

}

.do__container {
  background: rgba(34,139,34, 0.4);
  z-index: 3;
  position: relative;
}

.dont__container {
  background: rgba(255,0,0, 0.4);
  z-index: 2;
  position: relative;
}

.symptoms__container {
  background: rgba(255,230,0, 0.4);
  z-index: 0;
}

footer {
  text-align: center;
  background: black;
  width: 100%;
  max-width: 450px;
  margin: auto;
  padding: 1rem 0;

  p {
    color: rgba(203, 203, 203, 1);

    a {
      text-decoration: none;
      color: lighten(navy,50%);
    }
  }
}

// Media queries

@media (orientation: landscape) {

  .header__container{
    height: auto;
  }
  .title__box h1 {
    text-align: center;
  }
}

// Small devices

   @media (max-width: 576px ) {
     .title__box h1 {
       text-align: center;
     } 
     .header__container{
       height: auto;
     }
     .united__container{

     }
   }

   @media (min-width: 576px ) {
     .title__box h1 {
       text-align: center;
     }
     .header__container{
       height: auto;
     }
   }


// Medium devices

   @media (min-width: 768px) {
     .title__box h1 {
       text-align: center;
     }
   }


// Large devices

   @media (min-width: 992px) {
     .title__box h1 {
       text-align: center;
     }
   }


// Extra large devices

   @media (min-width: 1200px) {
     .title__box h1 {
       text-align: center;
     }
   }
