@mixin neumorph {
  border-radius: 10px;
  background: #2d3540;
  box-shadow: 5px 5px 10px #262d36, -5px -5px 10px #343d4a;
}
@mixin neumorph_alt {
  border-radius: 10px;
  background: #2d3540;
  box-shadow: -5px -5px 10px #262d36 inset, 5px 5px 10px #343d4a inset;
}
@mixin neumorph_caution {
  border-radius: 10px;
  background: #ba6d01;
  box-shadow: inset 5px -5px 3px #9e5d01, inset -5px 5px 3px #d67d01;
}
